<!DOCTYPE html>
<html>
<head>
  <title>Soundcloud to Dropbox</title>
  <link rel="stylesheet" href="../static/home.css">
</head>
<body>
  <h1 class="header">Welcome to Soundsave!</h1>
  <div>
    <p>Have you ever browsed through soundcloud and found a killer track, only to 
       realize that you might not be able to find it again? Are you a DJ who wants
       to be able to play awesome soundcloud remixes at your next event? Sign up
       for our tool today! We allow users to text soundcloud links to a specified
       number, and then we will drop the actual song right to your dropbox, where
       it will be available whenever and wherever you need it. Just sign in and
       provide your phone number.
    </p>
    <a href="https://www.dropbox.com/oauth2/authorize?response_type=code&client_id={{app_key}}&redirect_uri={{redirect_uri}}"> 
      Sign in with Dropbox
    </a>
  </div>
</body>
</html>