body {
  background-color: #F5A623
}

h1 {
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 60px;
  padding-top: 5%;
}

.error-text {
  width: 40%;
  margin: auto;
  text-align: center;
  color: white;
  font-family: Lato;
  font-weight: lighter;
  font-size: 18px;
}

a {
  color: white;
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 30px;
  text-decoration: none;
}

.home {
  padding-top: 0.5%;
  padding-left: 0.5%;
}